<!DOCTYPE html>
<html>
    <head>
        <title> Student Home </title>
    </head>
    <body>
        <nav>
            <ul>
                <li> <a href='schools'> Schools </a></li>
                <li>Teachers</li>
                <li>Study Material</li>
            </ul>
        </nav>
    </body>
</html>