<!DOCTYPE html>
<html>
    <head>
        <title> Student Home </title>
    </head>
    <body>
        <nav>
            <ul>
                <li> <a href='schools'> Schools </a></li>
                <li> <a href='studTeachers'> Teachers </a></li>
                <li> <a href='studMaterial'> Study Material </a></li>
            </ul>
        </nav>
    </body>
</html>